{% extends "template.html" %}
{% block title %}Задание{% endblock %}
{% block content %}
    <div class="div-center">
        <div class="card text-center container-xl">
          <div class="card-header">
            Запомни слово
          </div>
          <div class="card-body">
            <h1 class="card-title">{{en_word}}</h1>
            <p class="card-text">[go]</p>
            <p class="card-text">{{ru_word}}</p>
            <a href="{{link}}" class="btn btn-primary">Запомнил</a>
          </div>
          <div class="card-footer text-body-secondary">
                Ulang®
          </div>
        </div>
    </div>

<style>
    .div-center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18%;
    }
</style>
{% endblock %}
